body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  background: #f2f2f2;
}

.app {
  max-width: 480px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.card h2 {
  margin-top: 0;
}

.chat {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputArea {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #fff;
}

.inputArea input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.inputArea button {
  margin-left: 6px;
}


.log {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f7f7f7;
}

.log div {
  
}

/* こっちに寄せる */
.bubble {
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  max-width: 80%;
}

.msg.me {
  align-self: flex-end;
  text-align: right;
}

.msg.other {
  align-self: flex-start;
}

.name {
  font-size: 11px;
  color: #666;
  margin-bottom: 2px;
}

.bubble {
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.msg.me .bubble {
  background: #8de055; /* LINE緑 */
  border-bottom-right-radius: 4px;
}

.msg.other .bubble {
  background: #ffffff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
}


.time {
  font-size: 10px;
  color: #888;
  margin-top: 2px;
}

.msg.me .time {
  text-align: right;
}

.msg.other .time {
  text-align: left;
}
